body {
    font-family: Montserrat, serif;
}
h1{
    font-family: Bebas Neue, sans-serif;
}
q {
    font-style: italic;   
    font-size: smaller;
    border-left: 2px solid #000 ;
    padding-left: 10px;
}
h1#judul {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin:auto;
    background-color: #f2f2f2;
}